body {
  height: 4000px; }

.content {
  max-width: 1200px;
  margin: 0 auto; }

.mediumPadding {
  height: 100px; }

.navbar {
  height: 100px;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  transition: all 0.5s; }
  .navbar .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .navbar .left img {
    width: 193px; }
  .navbar .right button {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    height: 36px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    outline: none;
    transition: all 0.25s; }
    .navbar .right button:hover {
      color: #75cbc5;
      background-color: #fff; }

.titleAndWorkspace {
  background: #52baca;
  background: -webkit-linear-gradient(left top, #52baca, #88d1be);
  background: -o-linear-gradient(bottom right, #52baca, #88d1be);
  background: -moz-linear-gradient(bottom right, #52baca, #88d1be);
  background: linear-gradient(to bottom right, #52baca, #88d1be); }
  .titleAndWorkspace .header {
    text-align: center;
    font-family: "Cookie", cursive;
    font-size: 50px;
    color: #4c9ba1; }
  .titleAndWorkspace .img-container {
    max-width: 970px; }
    .titleAndWorkspace .img-container img {
      display: block;
      margin: 0 auto;
      height: auto;
      width: auto; }

.services-section {
  padding: 85px 0px 30px 0px;
  font-family: "Josefin Slab", serif; }
  .services-section .main-title {
    color: #666666;
    font-size: 45px;
    text-align: center; }
  .services-section hr {
    margin-bottom: 50px; }
  .services-section .service {
    text-align: center; }
    .services-section .service img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }
    .services-section .service .title {
      color: #666666;
      font-size: 23px; }
    .services-section .service .description {
      margin: 0 auto;
      max-width: 600px;
      color: #8e9399;
      font-size: 15px;
      padding: 0px 20px 20px 20px; }

.short-description {
  background: url(../img/bota-iusti.jpg) #f5f2ed top center no-repeat fixed;
  background-size: cover; }
  .short-description .container {
    padding: 170px 0px 160px 0px; }
    .short-description .container .description {
      padding: 20px;
      color: #666666;
      font-family: "Raleway", sans-serif;
      letter-spacing: 2px; }
      .short-description .container .description .title {
        font-weight: bold;
        font-size: 35px; }
      .short-description .container .description p {
        font-size: 16px; }

@media (max-width: 1199px) {
  .short-description .container {
    padding: 150px 0px 140px 0px; } }
@media (max-width: 991px) {
  .short-description .container {
    padding: 100px 0px 90px 0px; } }
@media (max-width: 768px) {
  .short-description {
    background: #f5f2ed; }
    .short-description .container {
      padding: 50px 0px 40px 0px; }
      .short-description .container .description {
        text-align: center; }
        .short-description .container .description .title {
          font-weight: bold;
          font-size: 25px; }
        .short-description .container .description p {
          font-size: 14px; } }
.dribbble-work {
  padding: 85px 0px 30px 0px;
  font-family: "Josefin Slab", serif; }
  .dribbble-work .main-title {
    color: #666666;
    font-size: 45px;
    text-align: center; }
  .dribbble-work hr {
    margin-bottom: 50px; }
  .dribbble-work .content ul li {
    display: block;
    position: relative; }
    .dribbble-work .content ul li a img {
      float: left;
      max-height: 212.25px;
      max-width: 283px;
      margin: 1px; }
  .dribbble-work .contact-info {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 741px; }
    .dribbble-work .contact-info p {
      font-family: "Josefin Slab", serif;
      text-align: center;
      font-size: 22px;
      color: #666666; }
    .dribbble-work .contact-info a {
      color: #30a7b7;
      font-weight: bold;
      border-bottom: solid 3px #30a7b7; }
      .dribbble-work .contact-info a:hover {
        text-decoration: none;
        border-bottom-color: #c2c2c2; }

@media (max-width: 1199px) {
  .dribbble-work .content ul li a img {
    max-height: 174.75px;
    max-width: 233px; } }
@media (max-width: 768px) {
  .dribbble-work .content ul li a img {
    max-height: 264.75px;
    max-width: 353px; } }
.stats {
  background: url(../img/bg-stats.jpg) #f5f2ed top center no-repeat fixed;
  background-size: cover; }
  .stats .container {
    padding: 170px 0px 160px 0px; }
    .stats .container .row {
      color: #fff;
      text-align: center; }
      .stats .container .row .ic-box-rn {
        display: block;
        line-height: 126px;
        background: url(../img/border.svg);
        background-repeat: no-repeat;
        height: 126px;
        width: 126px;
        margin: 0 auto;
        font-size: 70px;
        font-weight: 700;
        margin-bottom: 20px; }
      .stats .container .row .stats-name {
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 700; }

.testimonials {
  padding: 85px 0px 30px 0px;
  font-family: "Josefin Slab", serif; }
  .testimonials .main-title {
    color: #666666;
    font-size: 45px;
    text-align: center; }
  .testimonials hr {
    margin-bottom: 50px; }
  .testimonials p {
    background-color: #f5f2ed;
    font-family: "Josefin Slab", serif;
    padding: 19px;
    position: relative;
    font-size: 17px;
    color: #777b80;
    border-radius: 5px; }
    .testimonials p span {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #f5f2ed;
      position: absolute;
      transform: rotate(-45deg);
      bottom: -13px;
      left: 50px; }
  .testimonials .name {
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 30px;
    color: #777b80;
    margin-left: 15px; }
    .testimonials .name a {
      font-size: 16px;
      color: #2d2613;
      border-bottom: 1px solid #e6e6e6;
      font-weight: 600;
      transition: all 0.25s; }
      .testimonials .name a:hover {
        text-decoration: none;
        color: #30a7b7;
        border-bottom: 1px solid #30a7b7; }

@media (max-width: 767px) {
  .testimonials .content {
    padding: 0px 50px 0px 50px; } }
@media (max-width: 650px) {
  .testimonials .content {
    padding: 0px 35px 0px 35px; } }
@media (max-width: 500px) {
  .testimonials .content {
    padding: 0px 20px 0px 20px; } }

/*# sourceMappingURL=style.css.map */
