body
  height: 4000px

.content
  max-width: 1200px
  margin: 0 auto

.mediumPadding
  height: 100px

// Navbar

.navbar
  height: 100px
  border-radius: 0px
  background-color: transparent
  border: none
  transition: all .5s
  .container
    // 3 lines to center vertically
    position: relative
    top: 50%
    transform: translateY(-50%)
  .left
    img
      width: 193px
  .right
    button
      font-family: 'Raleway', sans-serif
      font-weight: 600
      letter-spacing: 1.5px
      height: 36px
      background-color: transparent
      color: #fff
      border: 3px solid #fff
      border-radius: 20px
      padding: 0px 20px 0px 20px
      outline: none
      transition: all .25s
      &:hover
        color: #75cbc5
        background-color: #fff


// Title and Workspace

.titleAndWorkspace
  background: #52baca /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #52baca, #88d1be) /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #52baca, #88d1be) /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #52baca, #88d1be) /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #52baca, #88d1be) /* Standard syntax */
  .header
    text-align: center
    font-family: 'Cookie', cursive
    font-size: 50px
    color: rgb(76, 155, 161)
  .img-container
    max-width: 970px
    img
      display: block
      margin: 0 auto
      height: auto
      width: auto

// Services section

.services-section
  padding: 85px 0px 30px 0px
  font-family: 'Josefin Slab', serif
  .main-title
    color: rgb(102, 102, 102)
    font-size: 45px
    text-align: center
  .service
    text-align: center
    img
      display: block
      margin: 0 auto
      margin-bottom: 20px
    .title
      color: rgb(102, 102, 102)
      font-size: 23px
    .description
      margin: 0 auto
      max-width: 600px
      color: rgb(142, 147, 153)
      font-size: 15px
      padding: 0px 20px 20px 20px

.short-description
  background: url(../img/bota-iusti.jpg) #f5f2ed top center no-repeat fixed
  background-size: cover
  .container
    padding: 170px 0px 160px 0px
    .description
      padding: 20px
      color: rgb(102, 102, 102)
      font-family: 'Raleway', sans-serif
      letter-spacing: 2px
      .title
        font-weight: bold
        font-size: 35px
      p
        font-size: 16px

@media (max-width: 1199px)
  .short-description
    .container
      padding: 150px 0px 140px 0px
@media (max-width: 991px)
  .short-description
    .container
      padding: 100px 0px 90px 0px
@media (max-width: 768px)
  .short-description
    background: #f5f2ed
    .container
      padding: 50px 0px 40px 0px
      .description
        text-align: center
        .title
          font-weight: bold
          font-size: 25px
        p
          font-size: 14px

// Work on dribbble
.dribbble-work
  padding: 85px 0px 30px 0px
  font-family: 'Josefin Slab', serif
  .main-title
    color: rgb(102, 102, 102)
    font-size: 45px
    text-align: center
  .content
    ul
      li
        display: block
        position: relative
        a img
          float: left
          max-height: 212.25px
          max-width: 283px
          margin: 1px
  .contact-info
    margin: 0 auto
    margin-top: 50px
    max-width: 741px
    p
      font-family: 'Josefin Slab', serif
      text-align: center
      font-size: 22px
      color: rgb(102, 102, 102)
    a
      color: #30a7b7
      font-weight: bold
      border-bottom: solid 3px #30a7b7
      &:hover
        text-decoration: none
        border-bottom-color: #c2c2c2


@media (max-width: 1199px)
  .dribbble-work
    .content
      ul li a
        img
          max-height: 174.75px
          max-width: 233px
@media (max-width: 768px)
  .dribbble-work
    .content
      ul li a
        img
          max-height: 264.75px
          max-width: 353px

// Stats section
.stats
  background: url(../img/bg-stats.jpg) #f5f2ed top center no-repeat fixed
  background-size: cover
  .container
    padding: 170px 0px 160px 0px
    .row
      color: #fff
      text-align: center
      .ic-box-rn
        display: block
        line-height: 126px
        background: url(../img/border.svg)
        background-repeat: no-repeat
        height: 126px
        width: 126px
        margin: 0 auto
        font-size: 70px
        font-weight: 700
        margin-bottom: 20px
      .stats-name
        letter-spacing: 2px
        font-size: 20px
        font-weight: 700